body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            text-align: center;
            margin: 0;
        }
        .container {
            width: 100%;
            max-width: 400px;
        }
        input, select, button {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
        }
        #startScoutingButton {
            display: none;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
        }
        #selectionSummary {
            margin-top: 10px;
            font-size: 18px;
            display: none;
        }
        #gameSection {
            display: none;
        }
        #timer {
            font-size: 24px;
            margin-top: 10px;
        }
        .endGameButtons {
            display: none;
            margin-top: 10px;
        }
                .toggle-button.active {
            background-color: #4CAF50; /* Green */
            color: white;
        }